[Desktop Entry]
Name=Audacity
Comment=Audio editor
Comment[pl]=Edytor plików dźwiękowych
Exec=audacity
Icon=audacity-icon.png
Terminal=0
Type=Application
Categories=Application;AudioVideo;
Encoding=UTF-8
# vi: encoding=utf-8
