[Desktop Entry]
Name=Audacity
Comment=Audio editor
Comment[pl]=Edytor plików dźwiękowych
Exec=audacity
Icon=audacity-icon
Terminal=false
Type=Application
Categories=GTK;AudioVideo;Audio;AudioVideoEditing;
# vi: encoding=utf-8
