[Desktop Entry]
Name=Audacity
Comment=Audio editor
Comment[pl]=Edytor plików dźwiękowych
Exec=audacity
Icon=audacity-icon.png
Terminal=false
Type=Application
Categories=Audio;Recorder;
Encoding=UTF-8
# vi: encoding=utf-8
